.app-container {
  max-width: 800px;
  max-height: 500px;
  margin: 30px auto;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 20px;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  font-family: "Fjalla One", sans-serif;
  color: rgb(255, 255, 255);
}
.search-bar {
  position: relative;
  left: 140px;
  top: 15px;
}
.bar {
  width: 50%;
  border: none;
  font-size: 16px;
  padding: 10px 15px 10px 40px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  mix-blend-mode: overlay;

  background-color: rgba(255, 255, 255, 0.5);
}
.button {
  width: 100px;
  text-align: center;
  padding: 10px 15px 10px 15px;
  transition: all 0.2s ease 0s;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  mix-blend-mode: overlay;

  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.5);
  align-content: center;
  border: none;
}
h1 {
  text-align: left;
  position: relative;
  top: 40px;
  left: 70px;
  font-size: 30px;
}

.timeshow {
  text-align: left;
  position: relative;
  top: 40px;
  left: 70px;
  font-size: 15px;
}

.current-weather {
  color: rgba(255, 255, 255, 0.8);
  font-size: 60px;
  position: relative;
  left: 80px;
  top: 40px;
  text-decoration: none;
}
.current-weather a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
}
.forecast-container {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  width: 680px;
  height: 140px;
  position: relative;
  top: 15px;
}
.forecast-container strong {
  position: relative;
  top: 20px;
}
.forecast-container img {
  position: relative;
  top: 20px;
  height: 50px;
  width: 50px;
}

.now-container {
  width: 400px;
  height: 120px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  position: relative;
  left: 330px;

  bottom: 120px;
  align-content: center;
}
.now-container strong {
  position: relative;
  top: 35px;
  bottom: 10px;
  left: 10px;
}

.forecast {
  position: relative;
  left: 65px;
  bottom: 110px;
  text-align: center;
}
.forecast h2 {
  text-align: left;
  left: 30px;
  top: 20px;
  position: relative;
  font-size: 25px;
}

.units {
  position: relative;
  font-size: 30px;
  left: 130px;
  bottom: 20px;
}

footer {
  font-family: monospace;
  color: #000000;
  font-size: 12px;
  position: relative;
  left: 520px;
}
